.input {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  background: transparent;
  padding: 7px 24px;
  margin: 8px 0;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #ffffff;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
